/*PAUTAS
Nombrar las classes espesificamente
*/

/*ADRIAN*/

body {
    background-color: #f2f6fc;
}

.ls-none {
    text-decoration: none;
    list-style: none;
}
.text-decoration-links {
    text-decoration: none;
}
.text-decoration-links:hover {
    text-decoration: underline;
    text-decoration-color: currentcolor;
}
.check-circle-check {
    font-size: 14px;
}
.customized-secction-color {
    background-color: #363d47;
}
.premium-badge-color {
    background-color: #e4ddf7;
    color: #6900c7;
}
.zindex-panel-central {
    z-index: 2;
}

/*CARLOS*/

.section1 {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.gradient {
    background: rgb(38, 0, 255);
    background: linear-gradient(
        90deg,
        rgba(38, 0, 255, 1) 35%,
        rgba(149, 0, 255, 1) 100%
    );
}

/* Pancita debajo del header */
header::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: url("../img/curveWhite.svg");
}

.text-gray {
    color: var(--color-gris);
}

#verde {
    background-color: rgb(62, 172, 135);
    color: white;
}

.opinions-profile-img {
    height: 40px;
    width: 40px;
    border-radius: 90px;
}
.stories-img {
    height: 80px;
    width: 80px;
    border-radius: 5px;
}
i {
    scale: 0.8;
    transition: 0.1s;
    transform: rotate(0deg);
    margin-left: 10px;
}
/* .show {background-color: var(--bg-dark);} */

.show > i {
    transition: 0.1s;
    transform: rotate(90deg);
}

#navbar-default {
    transition: 500ms ease;
    background: transparent;
}
#navbar-default.scrolled {
    background: var(--bg-dark); /*rgb(34, 34, 50)*/
}
.text-decoration-links {
    text-decoration: none;
}
.text-decoration-links:hover {
    text-decoration: underline;
}

.landing-pages-dropdown {
    width: 700px;
    margin-left: -450px;
    top: 50px;
    padding: 0px;
}
.documentation-dropdown {
    width: 350px;
    margin-left: -150px;
    top: 50px;
    padding: 0px;
}
.icon-documentation {
    width: 40px;
    height: 40px;
}

#image-landing {
    background-color: rgba(61, 61, 255, 0.685);
    background-image: url(img/bg-dropdown-xl.jpg);
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
}

:root {
    --bg-dark: #20242c;
    --color-gris: rgb(200, 200, 200);
    --color-azul: rgb(0, 100, 255);
    --color-lila: rgb(128, 0, 190);
}

#footer-cards-row {
    position: relative;
    z-index: 2;
    transform: translateY(3rem);
}

.animate-up {
    box-shadow: 0px 6px 10px 1px rgba(100, 100, 100, 0.5);
    transition: 0.1s;
}
a.animate-up:hover {
    transform: translateY(-6px);
    box-shadow: 0px 6px 14px 2px rgba(100, 100, 100, 0.5);
}
a {
    text-decoration: none;
}
h5.color-blue {
    color: var(--color-azul);
}
h5.color-purple {
    color: var(--color-lila);
}

.font-sm {
    font-size: 1rem;
}
.font-md {
    font-size: 1.1rem;
}
.font-bolder {
    font-weight: 600;
}

.svg-icon-card {
    width: 5rem;
    height: 5rem;
}
.bg-blue {
    background-color: var(--color-azul);
}
.bg-purple {
    background-color: var(--color-lila);
}

.svg-icon-card polyline {
    font-size: 2rem;
}

#footer-sec {
    background-color: var(--bg-dark);
    position: relative;
}

footer * {
    color: var(--color-gris);
}
footer a {
    display: block;
    text-decoration: none;
}
footer .row a:hover {
    text-decoration: underline;
}

#iconsList {
    list-style-type: none;
}
#iconsList li a {
    margin-right: 10px;
}
#iconsList li a i {
    font-size: x-large;
}
